<a href="https://colab.research.google.com/github/isabmoreeno/Cinema_Acessibilidade_Brasil/blob/main/01_importacao_cinema.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

df = pd.read_excel('Tabela Per Capita-Brasil.xlsx')

df.head()

                Município  UF  Rendimento (R$)
0  Alta Floresta D'Oeste   RO          1210.60
1              Ariquemes   RO          1458.57
2                 Cabixi   RO          1323.79
3                 Cacoal   RO          1625.88
4             Cerejeiras   RO          1554.33

In [5]:
xls = pd.ExcelFile('Tabela Per Capita-Brasil.xlsx')
xls.sheet_names

['Municípios', 'Estados']

In [6]:
df_municipios = pd.read_excel(
    'Tabela Per Capita-Brasil.xlsx',
    sheet_name='Municípios'
)

df_municipios.head()

                Município  UF  Rendimento (R$)
0  Alta Floresta D'Oeste   RO          1210.60
1              Ariquemes   RO          1458.57
2                 Cabixi   RO          1323.79
3                 Cacoal   RO          1625.88
4             Cerejeiras   RO          1554.33

In [7]:
df_estados = pd.read_excel(
    'Tabela Per Capita-Brasil.xlsx',
    sheet_name='Estados'
)

df_estados.head()

     Estado  UF  Rendimento (R$)
0      Acre  AC          1067.93
1   Alagoas  AL          1034.94
2     Amapá  AP          1142.15
3  Amazonas  AM           979.58
4     Bahia  BA          1079.17

In [8]:
df_municipios.columns = ['municipio', 'uf', 'renda_per_capita']
df_municipios.head()

                municipio  uf  renda_per_capita
0  Alta Floresta D'Oeste   RO           1210.60
1              Ariquemes   RO           1458.57
2                 Cabixi   RO           1323.79
3                 Cacoal   RO           1625.88
4             Cerejeiras   RO           1554.33

In [9]:
df_estados.columns = ['estado', 'uf', 'renda_per_capita']
df_estados.head()

     estado  uf  renda_per_capita
0      Acre  AC           1067.93
1   Alagoas  AL           1034.94
2     Amapá  AP           1142.15
3  Amazonas  AM            979.58
4     Bahia  BA           1079.17

In [10]:
df_estados.info()
df_estados.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   estado            27 non-null     object
 1   uf                27 non-null     object
 2   renda_per_capita  27 non-null     float64
dtypes: float64(1), object(2)
memory usage: 780.0+ bytes

       renda_per_capita
count         27.000000
mean        1463.015556
std          503.083953
min          899.870000
25%         1073.550000
50%         1246.740000
75%         1767.695000
max         2999.180000

In [11]:
df_municipios.info()
df_municipios.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   municipio         5570 non-null   object
 1   uf                5570 non-null   object
 2   renda_per_capita  5570 non-null   float64
dtypes: float64(1), object(2)
memory usage: 130.7+ KB

       renda_per_capita
count       5570.000000
mean        1211.587144
std          493.337884
min          288.650000
25%          772.390000
50%         1182.540000
75%         1520.357500
max         4299.910000